/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
html,
body {
    margin: 0;
    padding: 0;

    cursor: none;
    background-color: black;

}

#container {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 5s linear;
}


#defence-circle {
    border-radius: 100%;
    /*transition: animation-duration 0.7s ease-in-out;*/
}

#cursor {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
    letter-spacing: 0;
}


@keyframes shaking {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5px, 0px);
    }

    50% {
        transform: translate(5px, 0px);
    }

    100% {
        transform: translate(0, 0);
    }
}